.App {
  font-family: "Noto Sans", sans-serif;
  margin: 50px;
}

.Border {
  border: solid 2px #006ec5;
  padding: 0px 20px;
  border-radius: 10px;
  max-width: 750px;
}

#search-city {
  font-size: 42px;
  color: #006ec5;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.PreviouslySearch {
  font-size: 14px;
  margin: 30px 0px 20px;
}

.PreviouslyCities {
  display: inline;
  padding-right: 25px;
  color: #006ec5;
  font-weight: bold;
}

.PreviouslyCity {
  padding-right: 25px;
  color: #006ec5;
  opacity: 50%;
  text-decoration: none;
  transition: 500ms ease-in-out;
}

.PreviouslyCity:hover {
  opacity: 100%;
}

.SearchACity {
  border: 2px solid #5a6275;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
  width: 300px;
  transition: 500ms ease-in-out;
}

.SearchACity:hover {
  border: 2px solid #006ec5;
}

.Go,
.Current {
  margin-left: 30px;
  height: 40px;
  width: 150px;
  border: 2px solid;
  border-radius: 15px;
  transition: 500ms ease-in-out;
}

.Go {
  color: white;
  background-color: #006ec5;
  border-color: #006ec5;
}

.Go:hover {
  border-color: #5a6275;
  background-color: white;
  color: #006ec5;
}

.Current {
  border-color: #5a6275;
  background-color: white;
  color: #006ec5;
}

.Current:hover {
  color: white;
  background-color: #006ec5;
  border-color: #006ec5;
}

.Today {
  color: #5a6275;
  font-size: 18px;
}

.DateToday,
.Time {
  display: inline;
  padding-right: 25px;
}

.Container {
  margin-left: 0px;
  text-align: center;
  margin-bottom: 50px;
}

.Row {
  align-items: center;
  display: flex;
  width: 100%;
}

.Col {
  padding: 0px 20px;
  width: 200px;
}

.ImageWeatherToday {
  width: 100px;
}

.TemperatureToday {
  color: #006ec5;
  font-size: 100px;
  font-weight: bold;
  margin: 0px 0px;
}

.CelsiusFahrenheit {
  font-size: 50px;
  color: #5a6275;
}

.PrecipitationToday,
.WindToday,
.PressureToday {
  font-size: 14px;
  margin-bottom: 5px;
}

div .Col hr {
  opacity: 20%;
  margin: 5px;
}

.Author {
  margin-top: 20px;
}

.Author a {
  text-decoration: none;
  color: #006ec5;
  opacity: 50%;
  font-weight: bold;
}

.Author a:hover {
  opacity: 100%;
  transition: 500ms ease-in-out;
}
